{% extends 'FrontOfficeBundle::index.html.twig' %}
{% block contain %}
<div class="shell">
  <div class="reveal-sm-flex range-xs-middle offset-top-12">
    <h3 class="heading-italic text-light">A propos de nous</h3>
    <div class="divider-vertical divider-xs veil reveal-sm-inline-block offset-top-5"></div>
    <ol class="breadcrumb">
      <li><a href="{{path('front_office_homepage')}}">Accueil</a></li>
      <li class="active">A propos de nous</li>
    </ol>
  </div>
</div>
<section class="section-top-26">
  <div class="shell">
  <div class="range text-md-left">
  <div class="cell-lg-8">
  <div class="heading-divider">
    <h2 class="heading-italic text-light">A propos de nous</h2>
  </div>
  <p>

    
Men-ToBe est une plate-forme regroupant les dernières actualités masculines en vogue sur
internet. Elle est destinée à ce public cible, les thèmes qui s'y rattachent sont le
sport, la mode, le high-tech etc. La plateforme possède un sysème très simple d'inscription, qui ouvre à ses utilisateurs connectés la possibilité évidemment de commenter mais surtout d'écrire des articles sur les thèmes de leurs choix.

Contrairement à nos concurrents, Men-ToBe se construit avec ses utilisateurs.
Nous sucittons un univers communautaire avant tout!

  </p>
  <p>
    Proposer en tant que projet de fin d'étude dans dans le cadre de notre cursus scolaire, men-ToBe est un projet réaliser par cinq étudiants. Passioner d'informatique  nous souhaitons avec Men-ToBe réaliser un site qui rénoverait l'idée de propagation d'information ou tout le monde serais à meme d'écrire sur le sujet de son choix. 
    </p>
{% endblock %}
